<nav class="navbar navbar-expand-lg bg-light">
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="../index/index.php"> <img src="../../ressources/images/logo2.png" style="width:120px;vertical-align: middle;margin: 0px;"/></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive" >

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Service Nettoyage
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../cleaning/cleaning.php">Nettoyage Maison</a>
                                <a class="dropdown-item" href="../cleaning/cleaningdeep.php">Nettoyage Complet</a>
                                <a class="dropdown-item" href="../cleaning/cleaninPool.php">Nettoyage Piscine</a>
                                <a class="dropdown-item" href="../cleaning/cleaning.html">Nettoyage divers</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Demenagement / Stock
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../demenagement/bookingmoving.php">Demenagement national</a>
                                <a class="dropdown-item" href="../demenagement/bookingintermoving.php">Demenagement international</a>
                                <a class="dropdown-item" href="../stockage/bookingstockage.php">Stockage</a>
                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Travaux de maison
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../painting/painting.php">Peinture</a>
                                <a class="dropdown-item" href="../handyman/handyman.php">Handyman</a>
                                <a class="dropdown-item" href="#">Electricite</a>
                                <a class="dropdown-item" href="../handyman/plombier.php">Plomberie</a>
                                <a class="dropdown-item" href="#">Menuiserie</a>
                                <a class="dropdown-item" href="../climatiseur/acmaintenance.php">Climatisation</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gardiennage / Deratisation
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../pestcontrol/pestcontrol.php">Deratisation complete</a>
                                <a class="dropdown-item" href="../gardening/gardening.php">Gardiennage</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Evenmentiel
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../evenementiel/eventformulaire1.php">Restauration</a>
                                <a class="dropdown-item" href="../evenementiel/eventformulaire1.php">Traiteur</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Babysitters
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../babysitter/babysitter.php">Babysitters</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Photographie
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../photography/Photography.php">Photographie</a>
                                <a class="dropdown-item" href="../photography/Photography.php">Videographie</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCleaningServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Voitures
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCleaningServices">
                                <a class="dropdown-item" href="../voitureLocation/VoitureLocation.php">Location Voiture</a>

                            </div>
                        </li>

                    </ul>
                </div>
            </nav>